$include /etc/inputrc

#Completion tweaks
set completion-ignore-case On
set completion-prefix-display-length 5
set show-all-if-ambiguous On
set show-all-if-unmodified On

# Quality of life
set colored-stats On
set visible-stats On
set mark-symlinked-directories On
set bell-style visible
