format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
${custom.git_status_dirty}\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""

palette = 'catppuccin_mocha'

continuation_prompt = '[∙ ](subtext0)'

[directory]
style = "blue"

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "subtext0"

[git_status]
format = "[($ahead_behind$stashed)]($style) "
style = "sky"
stashed = "≡"

[custom.git_status_dirty]
when = 'test -n "$(git status --porcelain)"'
symbol = "*"
style = "mauve"
format="[$symbol]($style) "
shell = ["bash", "--norc", "--noprofile"]

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "subtext0"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "subtext0"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
